
/*
body{
    background-color:#17202a;
    background-image: url("/images/3px_tile.png");
}*/

.dhe-header{
    height:200px;
    background-color:#17202a;
    background-image: url("/images/3px_tile.png");
    text-align:center;
    position: relative;
    color:#fff;
    padding-top:20px;
}

.dhe-header h1{
    color:#fff;
}

.dhe-header .dhe-nav{
display:block;
position: absolute;
bottom:0;
width:100%;
height:50px;
}

.dhe-header .dhe-nav-link{
    display:inline-block;
    line-height: 50px;
    text-align: center;
    padding-left:20px;
    padding-right: 20px;
    margin-left: 5px;
    margin-right:5px;
    color:#fff;
}

.dhe-header .dhe-nav-link:hover{
    cursor: pointer;
    background-color: rgba(255,255,255,0.2);
}

.dhe-info-section{
    padding:20px;
    min-height:250px;
    color:#fff;
    background-color:#17202a;
}

.sample-colors{
    background-color: #1A4E97;
}

.dhe-header .dhe-title{
    color:#fff;
    font-size:20px;
    padding-top: 20px;
}

.dhe-header .dhe-nav-button{
    line-height: 70px;
}


/*Blog list styling*/
.dhe-card{
   max-width: 300px;
   height:200px;
   box-shadow:0 1px 3px 0 rgba(0,0,0,.2),0 1px 0 rgba(0,0,0,.14), 0 2px 1px 1px -1px rgba(0,0,0,.12);
   padding:8px;
   margin:8px;
   position:relative;

}