.dhe-header {
            width: 100%;
            height: 50px;
            text-align: left;
            padding-left: 20px;
            color: #fff;
            line-height: 50px;
            vertical-align: middle;
            background-color: #3F51B5;
            margin-bottom: 10px;
        }
.dhe-heading {
            font-size: 20px;
        }
.dhe-btns {
            width: 500px;
            margin: 0 auto;
            margin-bottom: 10px;
        }
#htmlContent {
            min-width: 100%;
        }

.dhe-modal-input{
    padding:8px;
    margin:8px;
    display:block;
}