
.dhe-posts-list{
    margin:0 auto;
    width:70%;
    min-width:350px;
    padding:5px;
    margin-top:10px;
    height:100%;
    text-align: center;
}


.dhe-single-post{
    position:relative;
    width:300px;
    height:200px;
    background-color: green;
}
