<div class="dhe-list-container">
    <div class="text-center">
        <nav>
            <ul class="pagination">
                {{#if hasPrevious}}
                <li>
                    <a href=""><span> &laquo; </span></a>
                </li>
                {{/if}}   {{#if displayPagination}}
                {{#each postsPages}}
                <li class="">
                    <a href="{{url}}">{{position}}</a>
                </li>
                {{/each}} 
                {{/if}}
                {{#if hasNext}}
                <li>
                    <a href=""><span> &raquo; </span></a>
                </li>
                {{/if}}
            </ul>
        </nav>
    </div>
    {{#each posts}}
    <div class="dhe-card">
        <a href="{{imageUrl}}" class="dhe-card-thumbnail">
            {{#if imageUrl}}
            <span class="glyphicon glyphicon-pencil" style="font-size:40px"></span>
            {{/if}}
        </a>
        <h3>{{title}}</h3>
        <div>
            {{#each tagsArray}}
            <span class="label label-default">{{tag}}</span> {{/each}}
        </div>
        <h4>{{description}}</h4>

    </div>
    {{/each}}


    <div class="text-center">
        <nav>
            <ul class="pagination">
                {{#if hasPrevious}}
                <li>
                    <a href=""><span> &laquo; </span></a>
                </li>
                {{/if}} 
                {{#if displayPagination}}
                {{#each postsPages}}
                <li class="">
                    <a href="{{url}}">{{position}}</a>
                </li>
                {{/each}} 
                {{/if}}
                {{#if hasNext}}
                <li>
                    <a href=""><span> &raquo; </span></a>
                </li>
                {{/if}}
            </ul>
        </nav>
    </div>

</div>